 <div class="card" style="width: 90%;">
        <div class="card-body p-0 border-dark">
        <div class="postHeader">
          <h5>  </h5>
        </div>
          <p class="card-text p-3">{{comment}}</p>
          <br>
          <p>- {{user.username}}, {{format_date date_created}}</p>
        </div>
      </div>

    