 <main>
    <div class="card" style="width: 90%;">
        <div class="card-body p-0 border-dark">
        <div class="postHeader">
          <h5> <u> Card title</u></h5>
          <p>Posted by {{username}} on {{date}}
          </p>
        </div>
          <p class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
     
    </main>