
<main>
    <div class="card" style="width: 90%;">
        <div class="card-body p-0 border-dark">
        <div class="postHeader">
          <h5> <u> Create New Post</u></h5>
        </div>
        <div class="content">
          <h4><u>Title:</u></h4>
          <input class="title" type="text">
          <h4><u>Content:</u></h4>
          <input id="content" type="text">
        <button class="btn btn-primary submitbtn">Submit</button>
        </div>
        </div>
      </div>
     
    </main>
    <script src="submitPost.js"></script>